Source: libapache2-mod-fcgid
Section: httpd
Priority: optional
Maintainer: Felix Geyer <fgeyer@debian.org>
Build-Depends: debhelper (>= 9), apache2-dev (>= 2.4)
Standards-Version: 3.9.4
Homepage: http://httpd.apache.org/mod_fcgid/

Package: libapache2-mod-fcgid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FastCGI interface module for Apache 2
 mod_fcgid is a high performance alternative to mod_cgi or mod_cgid,
 which starts a sufficient number instances of the CGI program to handle
 concurrent requests, and these programs remain running to handle further
 incoming requests. It is favored by the PHP developers, for example,
 as a preferred alternative to running mod_php in-process, delivering 
 very similar performance.
 .
 It is a binary-compatible alternative to Apache module mod_fastcgi.

Package: libapache2-mod-fcgid-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libapache2-mod-fcgid (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for mod_fcgid
 mod_fcgid is a high performance alternative to mod_cgi or mod_cgid,
 which starts a sufficient number instances of the CGI program to handle
 concurrent requests, and these programs remain running to handle further
 incoming requests. It is favored by the PHP developers, for example,
 as a preferred alternative to running mod_php in-process, delivering 
 very similar performance.
 .
 It is a binary-compatible alternative to Apache module mod_fastcgi.
 .
 This package contains the debugging symbols for mod_fcgid.
