#!/usr/bin/make -f
# -*- makefile -*-

# TODO: distclean?

%:
	dh $@ --parallel --with apache2

override_dh_auto_configure:
	APXS=apxs2 ./configure.apxs

override_dh_install:
	dh_install --fail-missing \
	  -X/usr/share/apache2/default-site/htdocs/manual \
	  -X/etc/apache2

override_dh_installchangelogs:
	dh_installchangelogs CHANGES-FCGID

override_dh_strip:
	dh_strip --dbg-package=libapache2-mod-fcgid-dbg

override_dh_fixperms:
	dh_fixperms
	chown -R www-data:www-data debian/libapache2-mod-fcgid/var/lib/apache2/fcgid
	chmod -R 755 debian/libapache2-mod-fcgid/var/lib/apache2/fcgid
